@use 'src/styles/_vars.scss' as v;

.marker {
  background-image: url('src/assets/icons/pin.svg');
  position: relative;
  z-index: 1;
  width: 35px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &--user {
    z-index: 2;
    background-image: url('src/assets/icons/pin-black.svg');
    opacity: .4;
  }

  &__card {
    display: none;
    position: absolute;
    width: 310px;
    left: 100%;
    top: 0;
    grid-column-start: 2;
    background: #ffffff;
    padding: 15px 20px 15px 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,.05);
    max-height: 500px;
    overflow-y: auto;
  }

  &__link {
    display: grid;
    position: relative;
    grid-template-columns: 80px auto;
    transition: transform ease-in-out 200ms;
    & + & {
      margin-top: 0.5rem;
      padding-top: 0.5rem;
      border-top: 1px solid rgba(0,0,0,.1);
    }

    &:hover {
      transform: translateX(10px);
    }
  }

  &__title {
    align-self: end;
  }

  &__date {
    padding-top: .5rem;
    color: v.$primaryColor;
    grid-column-start: 2;
  }

  &:hover {
    z-index: 1000;
    .marker__card {
      display: block;
    }
  }

  &__image {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    grid-column-start: 1;
    grid-row-end: span 2;
  }

}

.mapboxgl-marker:hover {
  z-index: 1000;
}