@use 'src/styles/_vars.scss' as v;

.marker {
  background-image: url('src/assets/icons/pin.svg');
  position: relative;
  width: 35px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &--user {
    background-image: url('src/assets/icons/pin-black.svg');
    opacity: .4;
  }

  &__link {
    position: absolute;
    width: 310px;
    left: 0;
    top: 0;
    padding-left: 100%;
    display: block;
    grid-column-start: 2;
  }

  &__card {
    display: none;
    background: #ffffff;
    padding: 15px 20px 15px 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,.05);
  }

  &__title {
    align-self: end;
  }

  &__date {
    padding-top: .5rem;
    color: v.$primaryColor;
    grid-column-start: 2;
  }

  &:hover {
    z-index: 1000;
    .marker__card {
      //display: block;
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  }

  &__image {
    width: 80px;
    margin-right: 10px;
    grid-column-start: 1;
    grid-row-end: span 2;
  }

}

.mapboxgl-marker:hover {
  z-index: 1000;
}