

.messages {
  border: 1px solid blue;

  width: 100%;
  margin-top: 2rem;

  &__message {
    border: 1px solid grey;

  }

  &__form {
    border: 1px solid lightcyan;
    margin-top: 2rem;
    
  }

}
