@use 'src/styles/_vars.scss';


.footer {
  width: 100%;
  padding: 30px 90px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: vars.$darkColor;

  &__copyrights {

  }

  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  &__links li {
    margin-right: 10px;
  }
}

@media (max-width: 635px) {  
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;

  &__links {
    padding-top: 10px;
  }
  }
}

